 .envelope-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  position: relative;
 
}

.envelope {
  width: 600px;
  height: 500px;
  background: pink;
  position: relative;
  transform: rotate(-15deg);
  border-radius: 4px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.envelope-flap {
  position: absolute;
  top: -80px;
  left: 0;
  width:0 ;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 80px solid pink;
  z-index: 1;
}

.card-overlay {
  position: absolute;
  top: -60px;
  left: 30px;
  width: 600px;
  height: 490px;
  background: #ffffff;
  border: 2px solid #e19ab3;
  border-radius: 8px;
  padding: 20px;
  z-index: 2;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
}

.contact-title {
   
  display: inline-block;
  padding: 10px 20px;
  left: 160px;
  position: relative;
  font-size: 42px;
  font-weight: bold;
  border-radius: 12px;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
}

.photo-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.photo-img {
  left: 100px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
   
  margin-right: 50px;
   position: relative;
  top: -10px; /* geser gambar naik */
  z-index: 3; 
}

.photo-label {
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Georgia', serif;
}

.icon-box {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 150px;
}

.icon {
  font-size: 60px;
  margin-bottom: 4px;
}

.icon-label {
  background: white;
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 8px;
  font-family: 'Georgia', serif;
  text-align: left;
}
